{% extends "base.html" %}


{% macro description(node) %}
        <p>
        {%for elt in node.children.by_class("Text") %}
            {{ elt.text }}
        {%endfor%}
        </p>
        <ul>
        {%for elt in node.children.by_class("Url") %}
            <a href="{{ elt.text}}"><li>{{ elt.name }}</li></a>
        {%endfor%}
        </ul>
{% endmacro %}

{% macro code(node) %}

        <h1>{{ node.name }}</h1>
        {{ description(node) }}
<div class="w3-row" >
    <div class="w3-col m6 l6" >



    </div>


        {%for elt in node.children.by_class("Function") %}
        <div class="w3-col m6 l6" >
            <h5>function - {{ elt.name }}</h5>
                {{ description(elt) }}
            
    </div>
        {%endfor%}



</div>
<div class="w3-row" >
{%for child in node.children.by_class("Class") %}
<div class="w3-col m6 l6" >
    <h2>{{ child.name }}</h2>
    {{ description(child) }}

    <ul>
    {%for elt in child.children.by_class("Attribute") %}
        <li>attr : {{ elt.name }}</li>
    {%endfor%}
    </ul>
    <ul>
    {%for elt in child.children.by_class("Method") %}
        <li>f : {{ elt.name }}
                {{ description(elt) }}
</li>
    {%endfor%}
    </ul>

</div>
{%endfor%}



</div>

{%for elt in node.children.by_class("Module") %}
{{ code(node.root) }}
{%endfor%}


{% endmacro %}



{% block content %}
        {% include "header.html" %}
        <h1>
        code
        </h1>
        <div class="w3-row" >

        {%for elt in node.root.get_firsts("Module")  %}
        <div class="w3-col m6 l4  my-border" >
        {{ code(elt) }}
        </div>
        {%endfor%}
        </div>
{% endblock %}

