{% extends "base.html" %}

{% block content %}

{% include "node-header.html" %}

<div class="w3-row" >
<div class="w3-col m3 l2" >

<h1>{{ node.tree_node.__class__.__name__ }}</h1>
<ul>
{%for elt in node.tree_node.children.except_class("Log_Message","Instruction","Atom_Link") %}
<a href="/nodes/{{ elt.path() }}/"><li> {{ elt.name }}</li></a>
{%endfor%}
</ul>


</div>
<div class="w3-col m6 l8" >
    <h1>data</h1>

<h2>statistiques</h2>


<table class="table table-dark">

  <tbody>
    <tr>
      <th scope="row">children</th>
      <td>{{ node.tree_node.children.__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">nodes</th>
      <td>{{ node.tree_node.all().__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">inputs</th>
      <td>{{ node.tree_node.inputs.__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">outputs</th>
      <td>{{ node.tree_node.outputs.__len__() }}</td>
    </tr>
  </tbody>
</table>

<h2>parametres</h2>



<table class="table table-dark">

  <tbody>
   {% for k,v in node.tree_node.items() %}
    <tr>
      <th scope="row">{{ k }}</th>
      <td>{{ v }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

<div class="w3-col m3 l2" >
    <h1>running</h1>
    <h2>threads</h2>
    <ul>
    {%for elt in node.tree_node.children.by_class("IoNode") %}
        <a href="./{{ elt.name }}/"><li>{{ elt.name }}</li></a>
    {%endfor%}
    </ul>
    <h2>instances</h2>
    <ul>
    {%for elt in node.tree_node.children.by_class("Instance") %}
        <a href="./{{ elt.name }}/"><li>{{ elt.name }}</li></a>
    {%endfor%}
    </ul>
    <h2>messages</h2>
    <ul>
    {%for elt in node.tree_node.children.by_class("Log_Message") %}
        <a href="./{{ elt.name }}/"><li>{{ elt.name }}</li></a>
    {%endfor%}
    </ul>
</div>
</div>
    {% endblock %}

