
<h1>
<a href=".."><span>	&lt;</span></a>
<a href=".">{{node.tree_node.name }}</a>
</h1>
<div>
<a href="/nodes/{{node.tree_node.path() }}"><span>nodes</span></a>
<a href="/tree/{{node.tree_node.path() }}"><span>tree</span></a>



</div>
