{% extends "base.html" %}

{% block content %}


{% include "node-header.html" %}
{% macro tree(node) %}
<a href="/tree/{{ node.path() }}/"><li>{{ node.__class__.__name__ }}   -  {{ node.name }}</li></a>

<ul>
{%for elt in node.children %}
{{ tree(elt) }}
{%endfor%}
</ul>

{% endmacro %}

<ul>
{{ tree(node.tree_node) }}
</ul>
{% endblock %}
