{# ========================================================================== #}

{%- macro current_template() -%}{{ self._TemplateReference__context.name }}{%- endmacro -%}

{# ========================================================================== #}

{% macro node_link(node,template,tag="div") -%}

{# ========================================================================== #}
    <a href="/{{ node.path() }}?template={{ template }}">
        <{{ tag }}>{{ node.name }}</{{ tag }}>
    </a>
{%- endmacro %}

{# ========================================================================== #}

{% macro node_linkpath(node,template,tag="div") -%}

{# ========================================================================== #}
    <a href="/{{ node.path() }}?template={{ template }}">
        <{{ tag }}>/{{ node.path() }}</{{ tag }}>
    </a>
{%- endmacro %}


{# ========================================================================== #}

{% macro fullpath(node,template) -%}

{# ========================================================================== #}

    <span>/</span>
   {% for elt in node.reverse_ancestors()[1:] %}
        {{ node_link(elt,template,tag="span") }}<span>/</span>
    {% endfor %}
{{ node_link(node,template,tag="span") }}


{%- endmacro %}

{# ========================================================================== #}

{% macro menubar(node,template="list.html") -%}

{# ========================================================================== #}

    <nav class="navbar navbar-expand-md  navbar-dark bg-dark"">
        <a class="navbar-brand" href="{{ url_for('index')}}">Blackboard 2021</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
   {% for elt in node.children %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=elt.path()) }}?template={{ template }}">{{ elt.name }}</a>
            </li>
    {% endfor %}
            </ul>
        </div>
    <form class="">
  <div class="form-group row">
    <div class="col-9">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-3">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    </div>
    </form>
    </nav>
{%- endmacro %}

{# ========================================================================== #}

{% macro actions(node) -%}

{# ========================================================================== #}

        <a href="{{ url_for('edit', path=node.path()) }}">
            <span class="badge badge-danger" style="float: right;">remove</span>
        </a> 

        <a href="{{ url_for('edit', path=node.path()) }}">
            <span class="badge badge-info" style="float: right;">copy</span>
        </a> 

        <a href="{{ url_for('edit', path=node.path()) }}">
            <span class="badge badge-success" style="float: right;">edit</span>
        </a> 
{%- endmacro %}

{# ========================================================================== #}

{% macro node_menubar(node) -%}

{# ========================================================================== #}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
         <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/infos.html">infos</a>
            </li>
            <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/list.html">children</a>
            </li>
            <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/tree.html">tree</a>
            </li>
            <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/inputs.html">inputs</a>
            </li>
            <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/outputs.html">outputs</a>
            </li>
            <li classX="nav-item">
                <a class="nav-link" href="{{ url_for('read', path=node.path()) }}?template=tree/network.html">network</a>
            </li>
    </ul>

  </div>

</nav>
{%- endmacro %}
{# ========================================================================== #}

{% macro node_searchbar(node) -%}

{# ========================================================================== #}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="col-2">
    <form class="">
  <div class="form-group row">
    <div class="col-12">
      <button class="btn btn-outline-success" type="submit">?</button>
    </div>
    </div>
    </form>
    </div>
    <div class="col-10">
    <form class="">
  <div class="form-group row">
    <div class="col-7">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    </div>
    </form>
    </div>
</nav>
{%- endmacro %}
{# ========================================================================== #}

{% macro node_title(node,template="tree/list.html") -%}

{# ========================================================================== #}
   <div> 


{{ node_link(node,template,tag="h3") }}
{{ node_searchbar(node) }}
   {% for elt in node.children.by_class("Text") %}
           <p>{{ elt.text }}</p>
    {% endfor %}

    </div>
{%- endmacro %}
{# ========================================================================== #}

{% macro title(text) -%}

{# ========================================================================== #}
        <h4 class="title">{{ text.replace("_"," ") }}</h4>
{%- endmacro %}
{# ========================================================================== #}

{% block body %}

{% endblock %}

{# ========================================================================== #}
{# ========================================================================== #}
