{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New File {% endblock %}</h1>

<form method="post">
    <div class="form-group">

    <div class="form-group">
        <label for="content">name</label>
        <textarea name="content" placeholder="filename"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
