{% extends 'main.html' %}



{% block content %}
  <h1> Welcome </h1>
<p> PRESENTATION et DOCUMENTATION</p>
<p> RESUME DES DOCUMENTS OUVERTS</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/DWcJFNfaw9c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
