{% extends 'base.html' %}
    {% block body %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/darkly.css">
    <title>{% block title %} {% endblock %}</title>
<style>
body{
margin:0;
padding:0;
}

body .container{
    marginX:0;
    paddingX:0;
    widthX:100%;
    max-width:1600px;
}
.title{
padding:20px;
border-bottom:1px solid;
border-top:1px solid;
margin-top:30px;
margin-bottom:30px;
background-color:rgba(0,0,0,0.5);
}
.content{
padding:30px;
border:1px solid;
margin-top:30px;
margin-bottom:30px;
background-color:rgba(0,0,0,0.5);
}

</style>
  </head>


  <body>

    {{ menubar(node.root,template="tree/list.html") }}
        {% block content %} {% endblock %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>
    {% endblock %}
