{% extends 'node.html' %}

{% macro list_node(node) -%}
   <div> 
       <hr>
        {{ node_linkpath(node,current_template(),tag="h4") }}
        {{ actions(node) }}

   {% for elt in node.children.by_class("Text") %}
           <p>{{ elt.text }}</p>
    {% endfor %}
    <hr>
    </div>
{%- endmacro %}

{% block data %}

    {% for cls,elts in node.inputs.by_classes() %}
        <div class="content">
<div class="card">
        {% for elt in elts %}
           {{ list_node(elt.source) }}
         {% endfor %}
    </div>
    </div>
    {% endfor %}

{% endblock %}
