{% extends 'node.html' %}

{% macro list_node(node) -%}
   <div style="margin:10px;padding:10px;border:solid 1px grey;border-radius:5px;"> 

        {{ node_link(node,"tree/list.html",tag="h5") }}
        {{ actions(node) }}

   {% for elt in node.children.by_class("Text") %}
           <p>{{ elt.text }}</p>
    {% endfor %}

    </div>
{%- endmacro %}

{% block data %}



    {% for cls,elts in node.children.by_class("Object").by_classes(strict=True) %}
        {{ title(cls.__name__) }}
<div class="content">
<div class="card">
        {% for elt in elts %}
           {{ list_node(elt) }}
         {% endfor %}
    </div>
    </div>
    {% endfor %}

{% endblock %}
