<style>

    .server{
        width:100%;
        padding-left:70px;
        padding-right:70px;
    }

    .part{
        padding:0px;
        width:100%;
        padding-left:40px;
    }

</style>
<h1>Liste des classes</h1>
<div class='server'>
        {{ templates.make_template("pages/help_namespace.html",cls=v,request=request) }}
</div>


