
<div class='part'>
{% set cls= request.getClass(cls)%}
<a href="/help/atom?cls={{ cls.__name__ }}"><div  class="w3-panel w3-text-deep-orange">{{ cls.__name__ }}</div></a>
{%for k,v in request.getClasses("Atom").items() %}

    {% if v.__bases__[0] == cls %}
        {{ templates.make_template("pages/help_namespace.html",cls=v,request=request) }}
    {%endif%}

{%endfor%}

</div>



