{% extends 'node.html' %}


{% block data %}
        {{ title("statistiques") }}
<div class="content table-responsive">
<table class="table table-dark">

  <tbody>
    <tr>
      <th scope="row">children</th>
      <td>{{ node.children.__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">nodes</th>
      <td>{{ node.all().__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">inputs</th>
      <td>{{ node.inputs.__len__() }}</td>
    </tr>
    <tr>
      <th scope="row">outputs</th>
      <td>{{ node.outputs.__len__() }}</td>
    </tr>
  </tbody>
</table>
</div>

        {{ title("parametres") }}
<div class="content table-responsive">

<table class="table table-dark">

  <tbody>
   {% for k,v in node.items() %}
    <tr>
      <th scope="row">{{ k }}</th>
      <td>{{ v }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
