<html>
<head>

        <script src="/__static/externals/jquery34.js"></script>
        <script src="/__static/externals/w3.js"></script>
        <link rel="stylesheet" href="/__static/externals/w3.css">
<style>

a{

    text-decoration:none;
    colorX:CadetBlue;
    color:CornflowerBlue;
}

a:hover{

    color:Cyan;
}

ul {
  list-style-type: none;

}

    body{
        float:left;
        width:100vw;
        height:100vh;
        color:white;
        background-color:rgba(0,0,0,0.8);
    }



h1,h2,h3,h4,h5 {
    color:CadetBlue;

}
h1 {
    border-bottom:1px solid CadetBlue;

}

.w3-col{
    padding:10px;
}

.my-border{
    margin:0px;
    padding:10px;
    border:1px solid CadetBlue;
}
iframe {
        background-color:gray;
}
</style>

</head>
<body>



{% block content %}

{% endblock %}

</body>
