

<style>
.example {
  font-size:50px;
  width: 100%;
  height: 100px;
}

#example {
  color: blue;
  animation-name: example;
  animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
}

@keyframes example {
  from {color: blue;}
  to {color: red;}
}

#example2 {
  color: white;
  animation-name: example2;
  animation-duration: 10s;
  animation-iteration-count: 3;
}

@keyframes example2 {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

 /* The animation code */
@keyframes example3 {
  0%   {background-color:blue; left:0px; top:0px;}
  25%  {background-color:red; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:yellow; left:0px; top:200px;}
  100% {background-color:blue; left:0px; top:0px;}
}

/* The element to apply the animation to */
#example3 {

  position: relative;
  background-color: blue;
  animation-name: example3;
  animation-duration: 10s;
  animation-delay: 2s;
} 
</style>

<div id="example" class="example">
il était une fois
</div>

<div id="example2" class="example">
un pays merveilleux
</div>

<div id="example3" class="example">
mais ceci n'est pas si vrai ...
</div>

