

<style>
.example {
  font-size:50px;
  width: 100%;
  height: 100px;
}

#example {
  color: Aquamarine ;
  animation-name: example;
  animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
 voice-family: male;
  richness: 80;


}

@keyframes example {
  from {color: Aquamarine;}
  to {color: CadetBlue ;}
}

</style>

<div id="example" class="example">
il était une fois
</div>

