{% extends 'main.html' %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-12">
    <span>{{ fullpath(node,current_template()) }}</span>
        {{ node_title(node) }}
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12">


    <span styleX="float: right;">template : {{ current_template() }}</span>
   {{ node_menubar(node) }}
        {% block data %}

        {% endblock %}
    </div>

  </div>
</div>    

<div class="container">
    {% for elt in node.children.by_class("Log_Message") %}
        <div class="card">{{ elt.name }}</div>
    {% endfor %}
</div>    
{% endblock %}
