body{
height:100vh;
width: 100vw;
background-image:url(/__static/background.jpg);
 background-repeat:no-repeat;
background-size:cover;
overflow-x:hidden;
overflow-y:scroll;
}

#main-menu{
height:4vh;
}

#main-menu .w3-col{
height:4vh;
}
#main-content{
height:90vh;
}
#object-head{
height:10vh;
}
#object-menu{
height:4vh;
}
.object{
height:85vh;
overflow-x:hidden;
overflow-y:scroll;
}

#object-toolbar{
height:4vh;
}



.Parents{
padding:8px;
}
.mybox{

height:80px;
margin:5px;
border-radius:3px;
}

.MyIcon {
    width: 50px;
    height: 50px;
}

.MyActionIcon {
    width: 25px;
    height: 25px;
}
.fullsize{
width:100%;
height:100%;
}
.fullscreen{
width:100vw;
height:100vh;
}

.scrollable{
overflow-x:hidden;
overflow-y:scroll;
}
.tree-node{
margin-left:15px;
padding-left:15px;
border-left:solid 1px white;
}
