

<div class='w3-panel'>




<div  class="w3-panel w3-dark-gray w3-padding">
{{node.name}}



{% if node.children.by_class("Api_Method").__len__()==1%}
    {% set method=node.children.by_class("Api_Method")[0]%}
     <span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:right;margin-left:10px;">{{method.name}}</span>
     <div class="w3-right w3-text-white">{{method.get_mime()}}</div>
{%else%}
    {%for elt in node.children.by_class("Api_Method") %}
     <span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:right;margin-left:10px;">{{elt.name}}</span>
    {%endfor%}
{%endif%}
</div>



<div class="">{{node.get_url()}}</div>


{%for elt in node.children.by_class("Text") %}
    <div class="w3-panel w3-text-grey">{{elt.text}}</div>
{%endfor%}

{% set n= node.children.by_class("Api_Method").__len__() %}

{%for elt in node.children.by_class("Api_Method") %}
{% if n>1 %}
     <div  class="w3-panel w3-paddingX">
        <span class="w3-text-deep-orange">{{elt.name}}</span>
        <span class="w3-rightX w3-text-white">{{elt.get_mime()}}</span>
    </div>
{%endif%}
    {%for comment in elt.children.by_class("Text") %}
        <div class="w3-panel w3-text-grey">{{comment.text}}</div>
    {%endfor%}

 <table class="w3-panel  w3-table  w3-bordered">
    {%for attr in elt.children.by_class("Api_Argument") %}
<tr>
      <td width="20%">{{attr.name}}</td>
      <td width="20%">{{attr.cls}}</td>
      <td>{{attr.text}}</td>
</tr>
    {%endfor%}
</table>
{%endfor%}

{%for elt in node.children.by_class("Api_Node") %}
        {{ view.render_template("content/api-part.html",view=view,node=elt,request=request) |safe }}
{%endfor%}
</div>



