{% extends "main.html" %}

{% block content %}
<style>

    .server{
        width:100%;
        /*padding-left:70px;
        padding-right:70px;*/
    }

    .part{
        padding:2px;
        width:100%;
        margin-left:35px;
        padding-left:15px;
        border-left:solid 1px white;
    }

</style>
{% if not node %}
{% set node="/data/apps" %}
{%endif%}

<div class='server'>
        {{ view.render_template("content/apps_tree.html",view=view,node=view.find(node),request=request) |safe}}
</div>


{% endblock %}




