
<div class='part'>

<a href="/apps/details?node=/{{ node.path() }}"><div  class="w3-text-deep-orange">{{ node.name }}</div></a>
{%for elt in node.children.by_class("Disc_Directory") %}

    {% if not elt.name.startswith("_")%}
        {{ view.render_template("content/apps_tree.html",view=view,node=elt,request=request) |safe }}
    {%endif%}
{%endfor%}

</div>
