{% extends "main.html" %}

{% block header %}

{% endblock %}

{% block menu %}

    {% if not node %}
    {% set node="/data/apps" %}
    {%endif%}
    {% set node=view.find(node) %}


{% if onde and node.is_instance("Disc_Element") and node.is_dir() %}
<div class="w3-panel">
<a href="/documentation{{ node.getRelative(root=True) }}/index.html">
<span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:left;margin-left:10px;">
 doc</span></a>
<a href="/apps/?node=/{{ node.path() }}"><span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:left;margin-left:10px;">
tree</span></a>
</div>
{% endif %}



    <p>parts</p>
    <ul>
    {%for elt in node.children.by_class("Disc_Directory") %}

        {% if not elt.name.startswith("_")%}
            <a href="/apps/details?node=/{{ elt.path() }}"><li>{{ elt.name }}</li></a>
        {%endif%}
    {%endfor%}
    </ul>

    <p>plugins files</p>
    <ul>
    {%for elt in node.children.by_class("Disc_File") %}

        {% if elt.name.startswith("__")%}
            <a href="/apps/details?node=/{{ elt.path() }}"><li>{{ elt.name }}</li></a>
        {%endif%}
    {%endfor%}
    </ul>

    <p>plugins dirs</p>
    <ul>
    {%for elt in node.children.by_class("Disc_Directory") %}

        {% if elt.name.startswith("__")%}
            <a href="/apps/details?node=/{{ elt.path() }}"><li>{{ elt.name }}</li></a>
        {%endif%}
    {%endfor%}
    </ul>


    <p>data</p>
    <ul>
    {%for elt in node.children.by_class("Disc_File") %}

        {% if not elt.name.startswith("__")%}
            <a href="/apps/details?node=/{{ elt.path() }}"><li>{{ elt.name }}</li></a>
        {%endif%}
    {%endfor%}
    </ul>


{% endblock %}


{% block content %}
    {% if not node %}
    {% set node="/data/apps" %}
    {%endif%}
    {% set node=view.find(node) %}



{% if node.is_instance("Disc_Element") and node.is_dir() and view.root.find("/server/documentation").has_element(node.getRelative(root=True),"index.html") %}

<a href="/documentation{{ node.getRelative(root=True) }}/index.html"><div class="w3-panel w3-text-deep-orange">/documentation{{ node.getRelative(root=True) }}/index.html</div></a>
<div class="w3-panel"><iframe width="100%" height="600px" src="/documentation{{ node.getRelative(root=True) }}/index.html"></iframe></div>
    {%endif%}
{% endblock %}


