{% extends "main.html" %}
{% block menu %}


<ul>
{% for elt in view.getAbstracts() %}
<a href="./?cls={{ elt.__name__}}"><li class="w3-text-deep-orange">{{ elt.__name__}}</li></a>
{% endfor %}
</ul>
{% endblock %}
{% block content %}
<style>

    .server{
        width:100%;
        /*padding-left:70px;
        padding-right:70px;*/
    }

    .part{
        padding:2px;
        width:100%;
        margin-left:35px;
        padding-left:15px;
        border-left:solid 1px white;
    }

</style>
{% if not cls %}
{% set cls="Model" %}
{%endif%}

<div class='server'>
        {{ view.render_template("content/classes_heritage_tree.html",view=view,cls=cls,request=request) |safe}}
</div>


{% endblock %}




