
<div class='part'>
{% set cls= request.getClass(cls)%}

<a href="../classes?cls={{ cls.__name__ }}"><div  class="w3-text-deep-orange">{{ cls.__name__ }}</div></a>
{%for key,value in request.getClasses().items() %}

    {% if cls in value.__bases__ %}
        {{ view.render_template("content/classes_heritage_tree.html",view=view,cls=value,request=request) |safe }}
    {%endif%}

{%endfor%}

</div>
