
{% if node.__doc__ != None %}
 <div  class="w3-text-deep-orange w3-panel">DOCUMENTATION</div>
    {%for elt in node.__doc__.split("\n") %}
    <div>{{elt.replace("\n","")}}</div>
    {%endfor%}
{%endif%}

{% if node._fields.__len__()>0 %}
 <div  class="w3-text-deep-orange w3-panel">ATTRIBUTES</div>

 <table class="w3-table  w3-bordered">
{%for name,elt in node._fields.items() %}
<tr>
      <td width="20%">{{name}}</td>
      <td width="20%">{{elt.__class__.__name__}}</td>
      <td>{{elt.record}}</td>
</tr>
{%endfor%}
</table>
{%endif%}

{% if node._functions.__len__()>0 %}
 <div  class="w3-panel w3-text-deep-orange">METHODS</div>

 <table class="w3-table  w3-bordered">
{%for name,elt2 in node._functions.items() %}
<tr>
      <td width="30%">{{name}}(
{% for attribute in elt2.attributes %}
           {{ attribute.__class__.__name__}},
        {%endfor%}
)</td>
      <td width="50%">{%if elt2.function.__doc__ %}{{elt2.function.__doc__}}{%endif%}</td>
      <td >{% for decorator in elt2.decorators %}
            {{ decorator.__class__.__name__}},
        {%endfor%}
        </td>

</tr>
{%endfor%}
</table>
{%endif%}

 <div  class="w3-panel w3-text-deep-orange">OVERIDE</div>

 <table class="w3-table  w3-bordered">
{%for name,elt in node.__dict__.items() %}
{%if name.startswith("on") %}
<tr>
      <td width="20%">{{name}}</td>
      <td >{{elt.__doc__}}</td>
</tr>
{%endif%}
{%endfor%}
</table>
