{% extends "main.html" %}

{% block menu %}

{% if cls%}
    {%set cls=request.getClass(cls) %}
{% else %}
    {%set cls=request.getClass("Model") %}
{% endif %}


<p>    <a href="../heritage/?cls={{ cls.__name__}}">heritagetree</a></p>
   <div onclick="expand();"  class="w3-panel w3-black w3-text-deep-orange w3-padding">expand</div>

{% endblock %}


{% block content %}


{% if cls%}
    {%set cls=request.getClass(cls) %}
{% else %}
    {%set cls=request.getClass("Model") %}
{% endif %}
<div  class="w3-panel w3-blue-gray w3-padding">{{cls.__name__}}</div>
<p>
<a href="../packages/details?package=/{{ view.find("/data/packages").all().by_attr_value(attr="python_path",value=cls.__module__).first().path() }}"/>{{ cls.__module__ }}</a>
</p>
 <div  class="w3-panel w3-padding">SUPERCLASSES</div>

 <div  class="w3-panel">
    {%for elt in cls.models("Model") %}
        {% if elt != cls %}
             <a href="./?cls={{ elt.__name__ }}">
            <span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:left;margin-left:10px;">{{elt.__name__}}</span>
            </a>
        {%endif%}
    {%endfor%}
</div>
 <div  class="w3-panel w3-padding">SUBCLASSES</div>

 <div  class="w3-panel">
{%for name,elt in request.getClasses(cls).items() %}
    {% if elt.__bases__[0] == cls %}
     <a href="./?cls={{ elt.__name__ }}">
   <span class="w3-tag w3-round-large w3-deep-orange w3-center" style="float:left;margin-left:10px;">{{name}}</span>
</a>

{%endif%}
{%endfor%}
</div>




    {%for elt in cls.__mro__%}
            

   <div onclick="myFunction('{{elt.__name__}}')"  class="w3-panel w3-black w3-text-deep-orange w3-padding">{{elt.__name__}}</div>
    <div class="w3-panel w3-hide" id="{{elt.__name__}}">
        {{ view.render_template("content/classes_details.html",view=view,node=elt,request=request) |safe }}
  </div>

    {%endfor%}

<script>

var last_id=null;
var all_closed=true;

function myFunction(id) {
     if (last_id){
        last_id.className = last_id.className.replace(" w3-show", "");
    }

  last_id2 = document.getElementById(id);
 if (last_id2 != last_id){
    last_id=last_id2;
  if (last_id.className.indexOf("w3-show") == -1) {
    last_id.className += " w3-show";
  } else {
    last_id.className = last_id.className.replace(" w3-show", "");
  }
    }
}
    console.log("XX",closed);

function expand() {

    console.log("XXX",all_closed);
    last_id=null;
    if (all_closed==true){

        var cusid_ele = document.getElementsByClassName('w3-hide');
    console.log(closed,cusid_ele.length);
        for (var i = 0; i < cusid_ele.length; ++i) {
            var item = cusid_ele[i];  
            if (item.className.indexOf("w3-show") == -1) {
                item.className += " w3-show";
            }
        }
        all_closed=false;
    } else {

        var cusid_ele = document.getElementsByClassName('w3-hide');
    console.log(closed,cusid_ele.length);
        for (var i = 0; i < cusid_ele.length; ++i) {
            var item = cusid_ele[i];  
            if (item.className.indexOf("w3-show") > -1) {
                item.className = item.className.replace(" w3-show", "");
            }
        }
        all_closed=true;
    }

}
</script>


{% endblock %}






