{% extends "main.html" %}

{% block header %}

{% endblock %}

{% block menu %}


<a href="/"><div  class="w3-panel w3-blue-gray w3-padding">..</div></a>

{% endblock %}

{% block content %}
<div  class="w3-panel w3-blue-gray w3-padding">env</div>
<table class="w3-table  w3-bordered">
{%for k,v in request.globals() %}
<tr>
<td>{{ k }}</td>
<td>{{ v}}</td>
</tr>
{%endfor%}
</table>
{% endblock %}


