{% extends "main.html" %}

{% block content %}
<div  class="w3-panel w3-blue-gray w3-padding">Packages</div>
<ul>
{% for elt in view.getAbstracts() %}
<li>
 <div  class="w3-panel w3-text-deep-orange w3-padding">{{ elt.__name__}}</div>
    <p>{{ elt.__doc__}}</p>
</li>
{% endfor %}
</ul>

{% endblock %}




