{% extends "main.html" %}

{% block content %}

<ul>
{% for elt in view.find("/data/classes").children %}
    <a href="./details?namespace={{ elt.name}}"><li>{{ elt.name}}</li></a>
{% endfor %}
</ul>

{% endblock %}




