{% extends "main.html" %}

{% block content %}

<ul>
{% for elt in view.find("/data/classes/"+namespace).children %}
    <a href="../../classes?cls={{ elt.python_classname}}"><li>{{ elt.name}}</li></a>
{% endfor %}
</ul>
{% endblock %}




