{% extends "main.html" %}

{% block content %}
{%if path %}
{% set root=view.get_node().find(path)  %}
{%else%}
{% set root=view.get_node()  %}
{% endif %}
<h1>{{ root.name }}</h1>
<p>{{ root.path() }}</p>
{{ view.render_template("content/node_tree.html",view=view,node=root,root=root,request=request,level=1,cls="Atom") |safe}}
{% endblock %}




