

<ul>
{% for elt in node.children %}
<li>
<p>{{ elt.name }}</p>
{% if level > 1 %}
    {{ view.render_template("content/node_tree.html",view=view,node=elt,request=request,level=level-1,cls=cls) |safe}}
{% endif %}
</li>
{% endfor %}
</ul>


