{% extends "main.html" %}

{% block content %}

{% set node= view.find(package) %}
<div  class="w3-panel w3-blue-gray w3-padding">{{ node.name }}</div>
<p>{{ node.python_path }}</p>
<h3>packages</h3>
<ul>
{% for elt in view.find(package).children %}
    <li><a href="./?package=/{{ elt.path()}}">{{ elt.name}}</a>
    <ul>
    {% for elt2 in elt.children %}
        <a href="./?package=/{{ elt2.path()}}"><li>{{ elt2.name}}</li></a>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>

<h3>classes</h3>
<ul>
{% for elt in view.root.all().by_class("Python_Class").by_attr_value(attr="python_module",value=node.python_path) %}
    <a href="../../classes?cls={{ elt.python_classname}}"><li>{{elt.python_classname}}</li></a>
{% endfor %}
</ul>
{% endblock %}




