{% extends "main.html" %}

{% block content %}
<div  class="w3-panel w3-blue-gray w3-padding">Packages</div>
<ul>
{% for elt in view.find("/data/packages").children %}
<li>
 <div  class="w3-panel w3-text-deep-orange w3-padding">{{ elt.name}}</div>

<ul>
{% for elt2 in elt.children %}
    <li><a href="./details?package=/{{ elt2.path()}}">{{ elt2.name}}</a>
<ul>
    {% for elt3 in elt2.children %}
        <a href="./details?package=/{{ elt3.path()}}"><li>{{ elt3.name}}</li></a>
    {% endfor %}
</ul>
</li>
{% endfor %}
</ul>
</li>
{% endfor %}
</ul>

{% endblock %}




