{% extends "main.html" %}


{% block menu %}

    {% if not node %}
    {% set node="/data/plugins" %}
    {%endif%}
    {% set node=view.find(node) %}

<h1>{{ node.name }}</h1>
{% if node.is_dir() %}
<a href="/documentation/{{ node.getRelative() }}/index.html"><p>documentation</p></a>
<a href="/apps/?node=/{{ node.path() }}"><p>tree</p></a>
{% endif %}


<ul>

    <ul>
    {%for elt in node.children %}

            <li><a href="/plugins/details?node=/{{ elt.path() }}">{{ elt.name }}</a>
            <ul>
            {%for elt2 in elt.children %}

                    <a href="/plugins/details?node=/{{ elt2.path() }}"><li>{{ elt2.name }}</li></a>

            {%endfor%}
            </li></ul>
    {%endfor%}
    </ul>

  
{% endblock %}


{% block content %}
    {% if not node %}
    {% set node="/data/apps" %}
    {%endif%}
    {% set node=view.find(node) %}

<div class="w3-panel"><iframe width="100%" height="600px" src="/documentation{{ node.getRelative() }}/index.html"></iframe></div>

{% endblock %}


