
<div class='part'>

<a href="/plugins/details?node=/{{ node.path() }}"><div  class="w3-text-deep-orange">{{ node.name }}</div></a>
{%for elt in node.children %}

    {% if not elt.name.startswith("_")%}
        {{ view.render_template("content/plugins_tree.html",view=view,node=elt) |safe }}
    {%endif%}
{%endfor%}

</div>
