<html>
<head>

        <script src="/__static/externals/jquery34.js"></script>
        <script src="/__static/externals/w3.js"></script>
        <link rel="stylesheet" href="/__static/externals/w3.css">
<style>

a{

    text-decoration:none;
    color:grey;

}


ul {
  list-style-type: none;

}

    body{
        float:left;
        width:100vw;
        height:100vh;
        color:white;
        background-color:rgba(0,0,0,0.8);
    }

    .header{
        margin-left:5vw;
        width:98vw;
        height:10vh;
        margin-bottom:5vh;

    }
.header-title{
float:left;
width:40%;
}
.server-ctrl{
float:right;
width:60%;
}
.header-menu{
        border-top:1px solid white;
        border-bottom:1px solid white;
}

    .contentX{
        margin-left:20vw;
        width:60vw;
        height:90vh;
}
    .content{
        border:1px solid white;
        border-radius:5px;
        overflow-x:hidden;
        overflow-y:scroll;
        height:90vh;
    }



</style>
</head>
<body>


    <div classc="w3-panel header-menu">

        <a href="/"><div class="w3-bar-item w3-button w3-hover-grey  w3-text-deep-orange">{{ view.root.name }}</div></a>
        {{ view.render_template("menu.html",node=request.server.find("/server"),obj="Api_Node" ,css=" w3-right")|safe }}
    </div>

{% block header %}

{% endblock %}

 <div  classx="w3-panel">


<div class="w3-panelx w3-row" >

<div class="w3-col m4 l2" >
{%if request.node.parent.parent and not request.node.parent.parent.is_instance("Api_Main") %}
<div  class="w3-panel w3-blue-gray w3-padding">

<a href="{{ request.node.parent.get_url() }}"><div class="w3-text-white">{{ request.node.parent.name.upper() }}</div></a></div>
        {{ view.render_template("node_menu.html",node=request.node.parent,obj="Api_Node" ,css=" w3-right")|safe }}

{%endif%}


</div>

<div class="w3-col m4 l2" >

        <div  class="w3-panel w3-blue-gray w3-padding">
{%if not request.node.parent.is_instance("Api_Main") %}
             <a href="..">
            <span class="w3-tag w3-round-large w3-blue w3-center" style="float:left;margin-left:10px;">..</span>
            </a>
{%endif%}
{{ request.node.name.upper() }}
</div>
        {{ view.render_template("node_menu.html",node=request.node,obj="Api_Node" ,css=" w3-right")|safe }}
</div>




<div class="w3-col m12 l6" >

<div  class="w3-panel w3-blue-gray w3-padding">{{ request.node.get_url()}}</div>
{% block content %}
{{ content | safe }}
{% endblock %}
</div>
<div class="w3-col m4 l2" >
{% block menu %}

{% endblock %}
</div>



</div>
</body>
