



{%for elt in node.children.by_class("Api_Node") %}
<div class=" w3-hover-black">
    <a href="{{ elt.get_url() }}"><div class="w3-black w3-text-deep-orange" >{{elt.name}}</div>
{%for elt2 in elt.children.by_class("Text") %}
   <p>{{elt2.text}}</p>
{% endfor %}

</a>
</div>
{% endfor %}



{%for elt in node.children.by_class("Url") %}
<div class=" w3-hover-black">
    <a href="{{ elt.text }}"><div class="w3-black w3-text-deep-orange" >{{elt.name}}</div>
{%for elt2 in elt.children.by_class("Text") %}
   <p>{{elt2.text}}</p>

{% endfor %}

</a>
</div>
{% endfor %}

