{% extends 'node.html' %}

{% macro plot_link(node) -%}
<tr>
      <th scope="row">{{ node.__class__.__name__}}</th>
      <td>
        {{ node_linkpath(node.source,current_template(),tag="span") }}
    </td>
      <td>
        {{ node_linkpath(node.target,current_template(),tag="span") }}
    </td>

</tr>



{%- endmacro %}

{% macro plot_links(node) -%}
        {% if node.inputs.__len__()>0 or  node.outputs.__len__()>0 %}
            {% for elt in node.inputs %}
               {{ plot_link(elt) }}
             {% endfor %}
            {% for elt in node.outputs %}
               {{ plot_link(elt) }}
             {% endfor %}
        {% endif %}
{%- endmacro %}


{% macro list_node(node) -%}
   {{ plot_links(node) }}
    {% for elt in node.children %}
           {{ list_node(elt) }}
    {% endfor %}

{%- endmacro %}

{% block data %}
   {{ title("network") }}
<div class="content table-responsive">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">type</th>
      <th scope="col">source</th>
      <th scope="col">target</th>
    </tr>
  </thead>
  <tbody>
           {{ list_node(node) }}
  </tbody>
</table>
</div>
{% endblock %}


