{% extends 'node.html' %}
{% macro make_treenode_label(node) -%}

    {% if node.active ==True %}
        <span class="badge badge-success">o</span>
    {% else %}
        <span class="badge badge-danger">x</span>
    {% endif %}

    {{ node_link(node,current_template(),tag="span") }}
             

{%- endmacro %}

{% macro make_treenode(node,cls="Object") -%}
     <div style="padding-left:30px;width:100%;">
         <div>
           {{ make_treenode_label(node) }}
            <span class="badge badge-danger" style="float: right;">x</span>
            <span class="badge badge-success" style="float: right;">+</span>
            <span class="badge badge-warningX" style="float: right;">{{ node.source }}</span>

        </div>

        {% for elt in node.children.by_class(cls) %}
               {{ make_treenode(elt) }}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro make_tree(node,cls="Object") -%}


        {% for elt in node.reverse_ancestors()[1:] %}

           {{ make_treenode_label(elt) }}
            <div style="padding-left:30px;width:100%;">
        {% endfor %}


           {{ make_treenode_label(node) }}

        {% for elt in node.children.by_class(cls) %}
               {{ make_treenode(elt) }}
        {% endfor %}


        {% for elt in node.reverse_ancestors()[1:] %}
            </div>
        {% endfor %}
{%- endmacro %}

{% block data %}
<div class="content">
   {{ make_tree(node) }}
</div>
{% endblock %}

